<div class="col-md-6 offset-md-3">
    <h3 class="mt-4"> Update Employee </h3>
    <!-- <form (ngSubmit)="onSubmit()"> -->
    <form >

        <div class="form-group mt-2">
            <label> First Name</label>
            <input type="text" class="form-control" id="firstName" [(ngModel)]="employee.firstName" name="firstName">
        </div>

        <div class="form-group mt-2">
            <label> Last Name</label>
            <input type="text" class="form-control" id="lastName" [(ngModel)]="employee.lastName" name="lastName">
        </div>

        <div class="form-group mt-2">
            <label> Email</label>
            <input type="text" class="form-control" id="email" [(ngModel)]="employee.email" name="email">
        </div>

        <button class="btn btn-success mt-4" type="submit">Update</button>

    </form>
</div>